# Web scraping

In [27]:
import requests
from bs4 import BeautifulSoup
import numpy as np
import pandas as pd

In [28]:
#pulling web contents into page content variable.
website = requests.get('https://www.theguardian.com/au') 
pagecontent = website.content

In [29]:
requests # not showing output because the output is too big.

In [30]:
# with this we can fetch whatever type or tags data we want from the html page
soup_data = BeautifulSoup(pagecontent, 'html.parser')

In [31]:
#pulling the title of the html page
print(soup_data.title)

<title>News, sport and opinion from the Guardian's Australia edition | The Guardian</title>

In [ ]:
#printing all the h3 contents in the webpage
print(soup_data.find_all('h3')) # not displaying the out put as the its too big and unstructured.

In [ ]:
#Pulling all the headlines in page content having class fc-item__header and in span tag
for data in soup_data.findAll('div',{'class':'fc-item__content'}):
    #print(data)
    for data2 in data.findAll('div', {'class':'fc-item__header'}):
        print(data2)
        
        #not showing out put as the data is heavy and unstructured

In [33]:
#Pulled all the headlines in the webpage
headlines=[]
for data in soup_data.findAll('div',{'class':'fc-item__content'}): #pulling all tags with class 'fc-item__content' in div 
    #print(data)
    for data2 in soup_data.findAll('span', {'class':'js-headline-text'}), : #within the above data further refining only content in class 'js-headline-text'
        headlines.append(data2) #capturing all headlines in a array

In [ ]:
headlines # extracted raw headlines(html tags still unremoved)

In [35]:
#capturing Hidline kicker
captions=[]
for data in soup_data.findAll('div',{'class':'fc-item__content'}):
    for data3 in soup_data.findAll('span', {'class':'fc-item__kicker'}):
        captions.append(data3)

In [37]:
captions[:10] # extracted all captions (HTML tags still unremoved) showing only 10 records

[<span class="fc-item__kicker">Bitcoin</span>,
 <span class="fc-item__kicker">Coronavirus</span>,
 <span class="fc-item__kicker">Victoria</span>,
 <span class="fc-item__kicker">Brexit</span>,
 <span class="fc-item__kicker">'Denial and inaction' </span>,
 <span class="fc-item__kicker">Superannuation</span>,
 <span class="fc-item__kicker">Deadliest plastics</span>,
 <span class="fc-item__kicker">Ivanka Trump</span>,
 <span class="fc-item__kicker">Trade</span>,
 <span class="fc-item__kicker">Perth</span>]

In [39]:
#removing unnecessary part(html tags) from each element by slicing
headlinesnew=[]
for headline in headlines:
    for lines in headline:
        line = str(lines)[31:-7] # slicing out the tags from the lines.
        headlinesnew.append(line)
headlinesnew[:10]

['Scam ads using unauthorised celebrity images fool tens of thousands of Australians',
 "'Autoantibodies' may be driving severe Covid cases, study shows",
 'Police officer dismissed for sexual harassment reinstated',
 "Talks to continue as UK and EU agree to 'go the extra mile'",
 "Mathias Cormann tests negative for Covid as campaign for OECD job puts Coalition's climate record in spotlight",
 "Government's changes a 'gift' to for-profit sector, industry funds claim",
 'Bags and packaging biggest marine life killers, study finds',
 'Speculation swirls over potential run for US Senate in Florida',
 'China tariffs offset by rising Australian iron ore prices due to ‘fear tax’',
 'Former president of Rebels bikie gang shot dead at drag race event']

In [41]:
captionsnew=[]
for caption in captions:
        line = str(caption)[30:-7] # slicing out the tags from the lines.
        captionsnew.append(line)
captionsnew[:10]

['Bitcoin',
 'Coronavirus',
 'Victoria',
 'Brexit',
 "'Denial and inaction' ",
 'Superannuation',
 'Deadliest plastics',
 'Ivanka Trump',
 'Trade',
 'Perth']

In [16]:
# exporing both the Headlines and Caption to CSv

In [46]:
headlinesdf = pd.DataFrame(headlinesnew, columns=["headlines"])
headlinesdf.head()

                                           headlines
0  Scam ads using unauthorised celebrity images f...
1  'Autoantibodies' may be driving severe Covid c...
2  Police officer dismissed for sexual harassment...
3  Talks to continue as UK and EU agree to 'go th...
4  Mathias Cormann tests negative for Covid as ca...

In [45]:
captionsdf = pd.DataFrame(captionsnew, columns=["captions"])
captionsdf.head()

                 captions
0                 Bitcoin
1             Coronavirus
2                Victoria
3                  Brexit
4  'Denial and inaction'

In [48]:
captionsdf.to_csv("caption.csv")
headlinesdf.to_csv("headlines.csv")